.p-btn {
    padding: .5rem 1rem;
    cursor: pointer;
    color: inherit;
    border-radius: .5rem;
    border: none;
    background: #f1f1f1;
    box-shadow: none;
    opacity: 1;
    transition: opacity 500ms ease;

    &:hover {
        opacity: 0.8;
    }

    &:active {
        box-shadow: inset 0 0 5px #f1f1f1;
    }

    &.p-btn--lg {
        font-size: 1.7rem;
    }

    &.p-btn--md {
        font-size: 1.3rem;
    }

    &.p-btn--sm {
        font-size: 1rem;
    }
}