:root {
  --color-primary: #3782BB;
  --shade-primary: #29638E;
  --color-secondary: #558C8C;
  --shade-secondary: #3E6565;
  --color-success: #4F914D;
  --shade-success: #41783F;
  --color-warning: #D3BD18;
  --shade-warning: #B8A514;
  --color-danger: #D62929;
  --shade-danger: #BC2424;
}
