:root {
  --color-primary: #3782BB;
  --shade-primary: #2E6D9E;
  --color-secondary: #438A84;
  --shade-secondary: #356E69;
  --color-success: #4F914D;
  --shade-success: #41783F;
  --color-warning: #D5B62F;
  --shade-warning: #BA9F26;
  --color-danger: #D62929;
  --shade-danger: #BC2424;
}
