:root {
  --color-primary: #3782bb;
  --shade-primary: #2e6d9e;
  --light-primary: #eff6fb;
  --color-secondary: #438a84;
  --shade-secondary: #356e69;
  --light-secondary: #f1f8f8;
  --color-success: #4f914d;
  --shade-success: #41783f;
  --light-success: #f2f8f2;
  --color-warning: #d5b62f;
  --shade-warning: #ba9f26;
  --light-warning: #fcf9ee;
  --color-danger: #d62929;
  --shade-danger: #bc2424;
  --light-danger: #fceeee;
}
