@use "../../css/util.scss" as *;

.p-link {
  @include focus-outline();
  @include transition(color, outline-offset);
  text-decoration: none;

  &.p-link--underline,
  &.p-link--hover-underline:hover {
    text-decoration: underline;
  }

  &,
  &:visited,
  &:link {
    color: var(--color-primary);
  }

  &:hover {
    color: var(--shade-primary);
  }

  @each $name in $color-names {
    &.p-link--#{$name} {
      @include focus-outline($name);

      &,
      &:visited,
      &:link {
        color: var(--color-#{$name});
      }

      &:hover {
        color: var(--shade-#{$name});
      }
    }
  }
}
